.wp-divi-table-builder {
  background: #6a2eb6;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 0 35px 10px #6a2eb647;
}
.wp-divi-table-builder .module-title{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  padding: 0 0 15px;
}
.wp-divi-table-builder .module-content{
  max-width: 420px;
  margin: 0 auto;
}